:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    background-color: #034666;
    margin: 0;
}  

#container-wrapper {
    height: var(--grid-rows);
    /* max-height: 575px; */
    width: var(--grid-cols);
    /* max-width: 575px; */
}

#container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    background-color: white;
}

.settings {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

input[type='color'] {
    width: 80px;
    height: 80px;
    border: none;
}

button, input {
    width: 10rem;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: none;
  }

button {
    padding: 10px;
}