:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body {
    font-family: fantasy;
    background-color: #034666;
    margin: 0;
    width: 100%;
    height: 100%;
}  

#container-wrapper {
    height: 100%;
    width: 100%;
    max-height: var(--grid-rows);
    max-width: var(--grid-cols);
}

#container {
    display: grid;
    height: 50rem;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    background-color: white;
}

.settings {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
}

button, input {
    width: 10rem;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

button {
    padding: 8px;
}