:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

body { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: fantasy;
    background-color: #dfe6e9;
    margin: 0;
}
.title {
    font-size: 1.5rem;
    text-align: center;
}

#container-wrapper {
    height: var(--grid-rows);
    width: var(--grid-cols);
}

#container {
    display: grid;
    height: 50vh;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    box-shadow: 5px 10px 8px 10px #888888;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}
  
.grid-item {
    border: 1px solid #ddd;
    background-color: white;
}

.settings {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;   
}

button, input {
    width: 10rem;
    border: none;
    color: inherit;
    background-color: #1091f4;
    font-family: inherit;
    font-size: 24px;
    cursor: pointer;
    outline: none;
  }

button {
    padding: 10px;
}
button:hover {
    background-color: #1380d3;
}

input {
    -webkit-overflow-scrolling: touch;
}